
html{
    margin-top: 0!important;
}
// basic
body{
	// font-size: 62.5%;
    font-family: "MyriadProRegular", Helvetica,Arial,sans-serif;
}

.button, button, a{
    outline: 0;
}
button:focus, a:focus{
    color: inherit;
}

html, body{
    -webkit-font-smoothing: antialiased;
}
ul{
	font-size: 1em;
}
p{
    margin-bottom: 0
}
 
$myriad_reg: "MyriadProRegular", Helvetica,Arial,sans-serif;
$myriad_bold: "MyriadProBold", Helvetica,Arial,sans-serif;
$myriad_semi: "MyriadProSemiBold", Helvetica,Arial,sans-serif;
$roboto: "Roboto",Helvetica,Arial,sans-serif;


@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
