// color

// foundation
// $body-font-family: $light;
// $body-font-color: $black80;

$paragraph-margin-bottom: 0;
$header-margin-bottom: 0;

$grid-column-responsive-gutter: (
  small: 30px,
  medium: 30px,
);