$white: #fff;
$blue: #3c5973;
$red: #ff1d1d;
$grey: #636363;

 
.container{
	max-width: 1216px;
	margin: auto;
	width:100%;
}
.button{
	background: $red;
	line-height: 47px;
	font-size: 26px;
	text-align: center;
	color: $white;
	text-transform: uppercase;
	border: none;
	font-weight: 900;
	border-radius:5px;
	display: block;
	font-family: $roboto;
	&:hover{
		color: $white;
		text-decoration: none;
		background: #fa4848;
	}
}
 

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1,
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	@media (max-width: 768px) {
		padding: 0
	}
}



header{
	padding-top: 48px;
	padding-bottom: 38px;
	@media (max-width: 768px) {
		display: none;
	}
	.logo{
		float: left;
		margin-right: 37px;
	}
	h1{
		font-size: 58px;
		text-transform: uppercase; 
		color: $blue;
		font-family: $myriad_semi;
		margin-top: 10px;
	}
}

.intro-block{
	position: relative;
	height:250px;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	border-radius: 0 0 15px 15px;
	@media (max-width: 768px) {
		box-shadow: inset 0px -5px 0px $white;
		max-width: 430px;
		z-index: 5;
		margin: 15px auto 0;
	}
	@media (min-width: 768px) {
		height:495px;
		border-radius: 0 0 0 35px;
		width: calc(100% - 350px);
		float: left;
		&:after{
			content: '';
			width: 30px;
			position: absolute;
			top:0;
			right: 0;
			height: 100%;
			background: linear-gradient(to left, rgba(0,0,0,0.5), transparent);
		}
	}
	.mobile-logo{
		@media (min-width: 768px) {
			display: none;
		}
	}
	h2{
		position: absolute;
		bottom: 0;
		left: 0;
		width:100%;
		background: rgba(0,0,0,0.35);
		color: $white;
		text-transform: uppercase;
		font-size: 50px;
		line-height: 50px;
		margin: 0;
		text-align: right;
		padding: 15px 17px;
		@media (max-width: 768px) {
			display: none;
		}
		&:after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 17.5px 0 17.5px 17px;
			border-color: transparent transparent transparent #ffffff;
			margin-left: 15px;
			display: inline-block;
		}
	}
}

.applay-block{
	background: $blue;
	max-width: 430px;
	position: relative;
	padding: 47px 30px 10px;
	border-radius: 0px 0 25px 25px;
	@media (max-width: 768px) {	
		margin: -30px auto 0;
	}
	@media (min-width: 768px) {
		max-width: 350px;
		padding: 107px 15px 15px;
		border-radius: 0px 0 35px 35px;
		float: right;
	}
	.maple{
		position: absolute;
		top: -65px; 
		left: 0;
		right: 0;
		margin: auto;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.mobile-title{
		text-transform: uppercase;
		font-size: 27px;
		color: $white;
		margin-bottom: 15px;
		margin-top: 0;
		text-align: center;
		@media (min-width: 768px) {
			display: none;
		}
	}
	.applay-form{
		z-index: 1;
		position: relative;
		select,
		input{
			height: 35px;
			line-height: 35px;
			border:1px solid #000;
			border-radius: 5px;
			width:100%;
			margin-bottom: 9px;
			font-size: 15px;
			padding: 0 15px;
			outline: none;
			@media (min-width: 768px) {
				height: 43px;
				line-height: 43px;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  text-transform: uppercase;
			  color: $grey;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  text-transform: uppercase;
			  color: $grey;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  text-transform: uppercase;
			  color: $grey;
			}
		}
		.number{
			@media (min-width: 768px) {
				margin-top: 3px;
			}
			&:after{
				content: '';
				display: table;
				clear: both;
			}
			.input-group{
				width: 100px;
				float: left;
				@media (min-width: 768px) {
					display: none;
				}
				img{
					height:20px;
					margin-right: 5px;
					vertical-align: top;
				}
				.btn-default {
					padding: 0;
					height: 35px;
					border:1px solid #000;
					width: 100%;
					border-right: none;
					background: #d1d1d1;
					border-radius: 5px 0 0 5px;	
				}
				.dropdown-menu{
					min-width: 100px;
				}
			}
			select{
				width: 100px;
				float: left;
				text-transform: uppercase;
				padding-right: 0;
				@media (max-width: 768px) {
					display: none;
				}
				@media (min-width: 768px) {
					margin-top: 25px;
					margin-right: 5px;
					width: 80px;
				}
			}
			label{
				float: left;
				width: calc(100% - 100px);
				font-weight: 400;
				margin: 0;
				@media (min-width: 768px) {
					width: calc(100% - 85px);
				}
				span{
					text-transform: uppercase;
					color: $white;
					font-size: 14px;
					font-weight: 400;
					@media (max-width: 768px) {
						display: none;
					}
				}
				input{
					@media (max-width: 768px) {
						border-radius: 0 5px 5px 0;
						border-left: none;
					}
					@media (min-width: 768px) {
						margin-top: 5px;
					}
				}
			}
			
		}
		.button{
			margin: 0 auto 25px;
			width: 100%;
			box-shadow: 0 0 125px rgba(255, 255, 255, 0.7); 	
			@media (min-width: 768px) {
				max-width: 295px;
				margin: 31px auto 22px;
			}
		}
	}
	.privacy{
		font-size: 13px;
		color: $white;
		text-align: center;
		max-width:320px;
		margin: auto;
		letter-spacing: -0.05px;
		line-height: 1.3;
		@media (min-width: 768px) {
			font-size: 11px;
			max-width:270px;
		}
		a{
			text-decoration: underline;
			color: inherit;
		}
	}
}

.steps{
	margin: 7px 15px 43px;
	@media (max-width: 768px) {
		max-width: 390px;
		margin-left: auto;
		margin-right: auto;
		margin: 112px auto 55px;
	}
	@media (min-width: 768px) {
		border: 1px solid #000;
		border-radius: 35px;
		padding: 45px 0;
	}
	&:after{
		content: '';
		display: table;
		clear: both;
	}
	.step-3{
		@media (min-width: 992px) {
			.icon-wrap{
				padding-left: 35px;
			}
		}
	}
	.step{
		@media  (min-width: 768px){
			padding: 0 10px;
    	}
		@media (max-width: 768px) {
			margin-bottom: 47px;
		}
		img{
			@media  (max-width: 410px){
				margin-bottom: 15px;
	    	}
	    	@media (min-width: 768px) and (max-width: 992px) {
				margin-bottom: 15px;
	    	}
			@media (min-width: 768px) {
				margin-right: 16px;
			}
		}
		.icon-wrap{
			@media (max-width: 768px)  {
				min-width:150px;
	    	}
		}
		.icon-wrap,
		.text{
			text-align: center;
			display: table-cell;
	    	vertical-align: top; 
	    	@media  (max-width: 410px){
				display: block; 
	    	}
	    	@media (min-width: 768px) and (max-width: 992px) {
				display: block; 
	    	}
		}
		h3{
			font-weight: 300;
			font-size: 46px;
			text-transform: uppercase;
			margin: 0;
		}
		.title-block{
			margin-bottom: 0;
			font-family: $myriad_bold;
			font-size: 30px;
			color:#8a8a8a;
			text-transform: uppercase;
		}
		p:not(.title-blocl){
			max-width: 230px;
			margin: auto;
			color:#5d5d5d;
		}
	}
}

.advantages,
.visa{
	.text-ceter{
		text-align: center;
	}
	.title-block{
		position: relative;
		font-size: 42px;
		color: #3c5973;
		text-transform: uppercase;
		text-align: center;
		display: inline-block;
		@media (min-width: 992px) { 
			&:before{
				content: '';
				display: inline-block;
				top:50%;
				margin-top: -14px;
				position: absolute;
				left: -38px;
				width: 25px;
				height: 28px;
				background: url('../images/mapel.png')no-repeat center;
			}
		}
	}
}
.advantages{ 
	max-width:460px;
	@media (min-width: 768px) {
		max-width:455px;
	}
	@media (max-width: 768px) {
		margin: 0 auto 90px;
	}
	.title-block{
		margin-bottom: 10px;
		@media (min-width: 768px) {
			margin-bottom: 30px;
		}
	}
	.advantages-item{
		background: #e3e3e3;
		padding: 7px 15px 3px;
		display: flex;
    	align-items: center;
    	min-height: 61px;
		@media (min-width: 768px) {
			border-radius: 5px;
		}
		&:not(:last-child){
			margin-bottom: 5px;	
		}
		&:after{
			content: '';
			display: table;
			clear: both;
		}
		.name{
			text-transform: uppercase;
			font-family: $myriad_bold;
			color: #868585;
			font-size: 21px;
			margin-right: 11px;
			float: left;
		}
		.person{
			width: calc(50% - 30px);
			float: left;
			.circle{
				background-position: 50%;
				background-size: cover;
				height: 48px;
				width: 48px;
				border-radius: 50%;
				float: left;
				margin-right: 10px;
			}
			p{
				font-size: 11px;
				line-height: 1;
				color: #2d2d2d;
			}
			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}
		img{
			float: left;
			margin-right: 15px;
		}
		p{
			line-height: 20px;
			@media (max-width: 768px) {
				letter-spacing: -0.7px;
			}
		}
	}
}

.visa{
	max-width: 605px;
	@media (max-width: 768px) {
		max-width: 460px;
	    margin: auto;
	}
	.title-block{
		margin-bottom: 30px;
	}
	p{
		font-size: 20px;
		line-height: 1.450em;
		color: #5d5d5d;
		&:not(:last-child){
			@media (min-width: 768px) {
				margin-bottom: 25px;
			}
		}
		@media (max-width: 768px) {
			padding: 0 25px 0 45px;
		}
	}
	@media (min-width: 992px) {
		margin-left: 42px;
	}
}
.button.pre-footer{
	margin: 115px auto 50px;
	max-width:495px;
	line-height: 62px;
	height: 62px;
	@media (max-width: 768px) {
		border-radius: 0; 
	}
	@media (min-width: 768px) {
		margin: 40px auto 50px;
	}
}


 
footer{
	padding: 55px 0 10px;
	@media (min-width: 768px) {
		padding: 55px 0;
	}
	p{
		max-width: 940px;
		margin: auto;
		text-align: center;
		color: #909090;
		line-height: 1.3;
		font-size: 16px;
		@media (min-width: 768px) {
			font-size: 15px;
		}
		br{
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}

